<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일반게시판 쿼리 Mapper
작성자: 구본홍
작성일: 2021.09.28 ~ -->
<mapper namespace="com.hong.Board.mapper.BoardMapper">
	<!-- 게시판 리스트 보기 -->
	<select id="list" resultType="com.hong.Board.vo.BoardVO">
	select * from (
		select rownum rnum, no, title, writer, writeDate, hit
		from(
			select no, title, writer, writeDate, hit
			from board
			order by no desc
			)
		)
	where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 전체 데이터의 갯수를 구하는 쿼리 -->
	<select id="getCount" resultType="Integer">
		select count(no) from board
	</select>
	
	<!-- 게시판 글보기 -->
	<select id="view" resultType="com.hong.Board.vo.BoardVO">
		select no, title, content, writer, writedate, hit , pw
		from board
		where no = #{no}
	</select>
		
	<!-- 조회수 상승 -->
	<update id="upHit">
		update board set hit = hit + 1
		where no = #{no}
	</update>
	
	<!-- 게시판 글수정 -->
	<update id="update">
		update board set
			title = #{title},
			content = #{content},
			writer = #{writer}
		where no = #{no}
	</update>
	
	<!-- 게시판 글작성 -->
	<insert id="write">
		insert into board(no, title, content, writer, writedate, pw)
		values(board_seq.nextval, #{title}, #{content}, #{writer}, sysdate, #{pw})
	</insert>
	
	<!-- 게시판 글삭제 -->
	<delete id="delete">
		delete from board 
		where no = #{no}
	</delete>
	 
</mapper>